{
    "vcenter_server": "myvcenter.local",
    "vmware_host": "awesomehost.local",
    "vmware_cluster": "Hosts With the Most",
    "vmware_datastore": "bigdata",
    "preseed_baseurl": "http://some.webserver"
}